<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Apoio Psicológico UFRPE</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    /* Estilos personalizados para a página da dashboard */
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: #337ab7;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .ufrpe {
      max-width: 150px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      font-size: 16px;
      color: #666;
      margin-bottom: 5px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: #fff;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      font-size: 18px;
      margin: 10px;
    }

    .button:hover {
      background-color: #23527c;
    }
  </style>
</head>

<body>
  <div class="header">
    <img src="/img/ufrpe.png" alt="ufrpe" class="ufrpe">
    <h1>Apoio Psicológico UFRPE</h1>
  </div>

  <div class="container">
    <p>Bem-vindo à página de apoio psicológico! Aqui você encontrará recursos e suporte psicológico fornecidos pela UFRPE.</p>
    <p>Entre em contato conosco para obter assistência:</p>
    <ul>
      <li>Telefone: (87) 991049253</li>
      <li>Email: claudioleiite@gmail.com</li>
      <li>Chat Online: <a href="https://chat.ufrpe.edu.br">https://chat.ufrpe.edu.br</a></li>
    </ul>
    <div style="text-align: center;">
      <a href="/agendamento" class="button">Agendamento</a>
      <a href="/chat_video" class="button">Chat de Vídeo</a>
      <a href="/chat_texto" class="button">Chat de Texto</a>
      <a href="/logout" class="button">Sair</a>
    </div>
  </div>
</body>

</html>
