<!DOCTYPE html>
<html lang="en">
<img src="/images/ufrpe.png" alt="ufrpe" class="ufrpe">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apoio Psicológico UFRPE</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <img src="/img/ufrpe.png" alt="ufrpe" class="ufrpe">
  <div class="container" id="index-container">
    <h1>Apoio Psicológico UFRPE</h1>
    <p>Sinta-se apoiado(a) e cuide da sua saúde mental. Oferecemos suporte psicológico e recursos para os estudantes da UFRPE.</p>
    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Cadastre-se</a>
  </div>
</body>

</html>
